@{
    ViewBag.Title = "ReservationOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1 style="padding-top: 2em; padding-bottom: 1em;">Reservation</h1>
    <div class="col-sm-3">
        <label>Reservation Order</label>
        <input class="form-control" type="text" style="max-width:80px;" placeholder="828282" disabled>
    </div>
    <div class="col-sm-3">
        <label>Staff - Logged In</label>
        <input class="form-control" type="text" style="max-width:120px;" placeholder="John Mitsu" disabled>
    </div>
    <div class="form-group col-sm-2">
        <label>Order total:</label>
        <input type="text" class="form-control" placeholder="$ 0.00" disabled>
    </div>
    <div class="col-sm-2" style="margin-top:18px;">
        <button type="button" class="btn btn-block">Add/Update Order</button>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-3">
        <label>Filter customer:</label>
        <input type="text" class="form-control" placeholder="Customer Name">
    </div>
    <div class="form-group col-sm-3">
        <label>Select customer:</label>
        <select class="form-control">
            @for (int i = 0; i < 8; i++)
            {
                <option>Mary Denver Holtz @i</option>
            }
        </select>
    </div>
    <div class="form-group col-sm-2">
        <label>Customer balance:</label>
        <input type="text" class="form-control" placeholder="$ 0.00" disabled>
    </div>
    <div class="col-sm-2" style="margin-top:18px;">
        <button type="button" class="btn btn-block" style="margin-top:1px;">New Customer</button>
    </div>
    <div class="col-sm-2" style="margin-top:18px;">
        <button type="button" class="btn btn-block" style="margin-top:1px;">Customer Details</button>
    </div>
</div>

<div class="row" style="padding-bottom: 1em;">
    <div class="col-sm-1" style="margin-left:-1em; margin-right:1em; font-size: 2em; font-weight:500;">Payments</div>
    <div class="col-sm-1">
        <span class="glyphicon glyphicon-list" data-toggle="collapse" data-target="#paymentlist" style="font-size:2.5em;"></span>
    </div>
    <div class="col-sm-6"></div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-block">Payment</button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-block">Refund</button>
    </div>
</div>
<div id="paymentlist" class="collapse">
    <div class="row" style="padding-top: 2em; background-color:#CCEEEE;">
        <div class="col-sm-1">
            Payment #
        </div>
        <div class="col-sm-2">
            Reason For Payment
        </div>
        <div class="col-sm-1">
            Reservation #
        </div>
        <div class="col-sm-2">
            Customer
        </div>
        <div class="col-sm-2">
            Responsible Staff
        </div>
        <div class="col-sm-1">
            Date
        </div>
        <div class="col-sm-1">
            Amount
        </div>
        <div class="col-sm-1">
            Balance
        </div>
    </div>
    <div class="row" style="padding-top: 2em; background-color:#EEEECC;">
        <div class="col-sm-1">
            1234
        </div>
        <div class="col-sm-2">
            New reservation
        </div>
        <div class="col-sm-1">
            8822
        </div>
        <div class="col-sm-2">
            James Brown
        </div>
        <div class="col-sm-2">
            Tim Burton
        </div>
        <div class="col-sm-1">
            02/05/2016
        </div>
        <div class="col-sm-1">
            - $ 2,500.00
        </div>
        <div class="col-sm-1" style="color:red">
            - $ 2,500.00
        </div>
    </div>
    <div class="row" style="padding-top: 2em; background-color:#EEEECC;">
        <div class="col-sm-1">
            1235
        </div>
        <div class="col-sm-2">
            Received - credit card ##34
        </div>
        <div class="col-sm-1">
            8822
        </div>
        <div class="col-sm-2">
            James Brown
        </div>
        <div class="col-sm-2">
            Tim Burton
        </div>
        <div class="col-sm-1">
            02/05/2016
        </div>
        <div class="col-sm-1">
            + $ 2,500.00
        </div>
        <div class="col-sm-1">
            $ 00.00
        </div>
    </div>
    <div class="row" style="padding-top: 2em; background-color:#EEEECC;">
        <div class="col-sm-1">
            1236
        </div>
        <div class="col-sm-2">
            Extend reservation
        </div>
        <div class="col-sm-1">
            8822
        </div>
        <div class="col-sm-2">
            James Brown
        </div>
        <div class="col-sm-2">
            Tim Burton
        </div>
        <div class="col-sm-1">
            03/05/2016
        </div>
        <div class="col-sm-1">
            - $ 800.00
        </div>
        <div class="col-sm-1" style="color:red">
            - $ 800.00
        </div>
    </div>
    <div class="row" style="padding-top: 2em; background-color:#EEEECC;">
        <div class="col-sm-1">
            1286
        </div>
        <div class="col-sm-2">
            Received - cash
        </div>
        <div class="col-sm-1">
            8822
        </div>
        <div class="col-sm-2">
            James Brown
        </div>
        <div class="col-sm-2">
            Tim Burton
        </div>
        <div class="col-sm-1">
            03/05/2016
        </div>
        <div class="col-sm-1">
            + $ 800.00
        </div>
        <div class="col-sm-1">
            $ 00.00
        </div>
    </div>
    <div class="row" style="padding-top: 2em; background-color:#EEEECC;">
        <div class="col-sm-1">
            3286
        </div>
        <div class="col-sm-2">
            Cancel reservation
        </div>
        <div class="col-sm-1">
            8822
        </div>
        <div class="col-sm-2">
            James Brown
        </div>
        <div class="col-sm-2">
            Tim Burton
        </div>
        <div class="col-sm-1">
            03/25/2016
        </div>
        <div class="col-sm-1">
            + $ 3,300.00
        </div>
        <div class="col-sm-1" style="color: green;">
            + $ 3,300.00
        </div>
    </div>
    <div class="row" style="padding-top: 2em; background-color:#EEEECC;">
        <div class="col-sm-1">
            3286
        </div>
        <div class="col-sm-2">
            Refund - check #38
        </div>
        <div class="col-sm-1">
            8822
        </div>
        <div class="col-sm-2">
            James Brown
        </div>
        <div class="col-sm-2">
            Tim Burton
        </div>
        <div class="col-sm-1">
            03/28/2016
        </div>
        <div class="col-sm-1">
            - $ 3,300.00
        </div>
        <div class="col-sm-1">
            $ 00.00
        </div>
    </div>
</div>

<div class="row" style="padding-bottom: 1em;">
    <div class="col-sm-1" style="margin-left:-1em; margin-right:1em; font-size: 2em; font-weight:500;">Sites</div>
    <div class="col-sm-1">
        <span class="glyphicon glyphicon-list" data-toggle="collapse" data-target="#reservationitemlist" style="font-size:2.5em;"></span>
    </div>
    <div class="col-sm-6"></div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-block" style="margin-top:2px;">Edit Selected Item/Site</button>
    </div>
</div>
<div class="row" style="background-color:#EEEECC;">
    <div class="form-group col-sm-2">
        <label>Filter RV site:</label>
        <input type="text" class="form-control" placeholder="A-21">
    </div>
    <div class="form-group col-sm-2">
        <label>Select RV site:</label>
        <select class="form-control">
            @for (int i = 20; i < 36; i++)
            {
                <option>A - @i</option>
            }
        </select>
    </div>
</div>
<div class="row" style="background-color:#EEEECC;">
    <div class="form-group col-sm-3">
        <label>Start Date</label>
        <input type="date" class="form-control">
    </div>
    <div class="form-group col-sm-3">
        <label>End Date</label>
        <input type="date" class="form-control">
    </div>
    <div class="form-group col-sm-2">
        <label>Item total:</label>
        <input type="text" class="form-control" placeholder="$ 0.00" disabled>
    </div>
    <div class="col-sm-4" style="padding-top:18px;">
        <button type="button" class="btn btn-block" style="margin-top:2px;">Add Item/Site To Reservation</button>
    </div>
</div>
<div id="reservationitemlist" class="collapse">
    <div class="row" style="padding-top: 2em; background-color:#EECCEE;">
        <div class="col-sm-1">
            Reservation Item #
        </div>
        <div class="col-sm-1">
            RV Site
        </div>
        <div class="col-sm-2">
            Start Date
        </div>
        <div class="col-sm-2">
            End Date
        </div>
        <div class="col-sm-1">
            Item Total
        </div>
    </div>
    @for (int i = 2; i < 8; i++)
            {
        <div class="row" style="padding:5px; background-color:#EEEECC;">
            <div class="col-sm-1" style="margin-top:12px;">
                @i
            </div>
            <div class="col-sm-1" style="margin-top:12px;">
                E - @i @i
            </div>
            <div class="col-sm-2" style="margin-top:12px;">
                @i @i / @i @i / @i @i
            </div>
            <div class="col-sm-2" style="margin-top:12px;">
                @i @i / @i @i / @i @i
            </div>
            <div class="col-sm-2 text-center" style="margin-top:12px;">
                $ @i , @i @i @i . @i @i
            </div>
            <div class="col-sm-2" style="margin-top:12px;">
                <button type="button" class="btn btn-block" style="margin-top:-12px;">Select To Edit</button>
            </div>
            <div class="col-sm-2" style="margin-top:12px;">
                <button type="button" class="btn btn-block" style="margin-top:-12px;">Cancel Item/Site</button>
            </div>
        </div>
    }
</div>

