/* Limit the width of the page*/
@media only screen and (min-width: 20px) {
    .ui-page {
        min-width: 420px;
        max-width: 960px;
        margin: 0 auto !important;
        position: relative !important;
        border-right: 5px #666 outset !important;
        border-left: 5px #666 outset !important;
    }
}
/* Sets a background to the page*/
html
{
background-image:url(../Images/pagebackground.jpg) ;
background-size:cover;
opacity: 0.9; 
}