@{
    ViewBag.Title = "Customer Registration";
    ViewBag.PageTitle = "New Customer";
}

@Html.ActionLink("Home", "Menu", "PrototypeUI")
<span class="glyphicon glyphicon-chevron-right"></span>
Customer Registration
<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("New Customer", "Customer", "PrototypeUI")

<!-- New Customer-->
<div class="container-fluid">
    <!-- New Customer-->
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <label>First Name</label>
            </div>
            <div class="col-sm-4 col-xs-12 form-top-margin">
                <input type="text" class="form-control" placeholder="Homer" />
            </div>
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <label>Last Name</label>
            </div>
            <div class="col-sm-4 col-xs-12 form-top-margin">
                <input type="text" class="form-control" placeholder="Watson" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <label>Email</label>
            </div>
            <div class="col-sm-10 col-xs-12 form-top-margin">
                <input type="email" class="form-control" placeholder="hwatson@gmail.com" />
            </div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <label>Main Phone</label>
            </div>
            <div class="col-sm-4 col-xs-12 form-top-margin">
                <input type="text" class="form-control" placeholder="(519) 341-4075" />
            </div>
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <label>Cell Phone</label>
            </div>
            <div class="col-sm-4 col-xs-12 form-top-margin">
                <input type="text" class="form-control" placeholder="(519) 888-4075" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <label>Home Phone</label>
            </div>
            <div class="col-sm-4 col-xs-12 form-top-margin">
                <input type="text" class="form-control" placeholder="(519) 341-4075" />
            </div>
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <label>Fax Number</label>
            </div>
            <div class="col-sm-4 col-xs-12 form-top-margin">
                <input type="text" class="form-control" placeholder="(519) 888-4075" />
            </div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <label>Street</label>
            </div>
            <div class="col-sm-6 col-xs-12 form-top-margin">
                <input type="text" class="form-control" placeholder="50 Victoria St W" />
            </div>
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <label>Postal Code</label>
            </div>
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <input type="text" class="form-control" placeholder="N2P 1W8" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <label>Province</label>
            </div>
            <div class="col-sm-4 col-xs-12 form-top-margin">
                <select class="form-control">
                    <option>Alberta</option>
                    <option>British Columbia</option>
                    <option>Quebec</option>
                    <option>Ontario</option>
                </select>
            </div>
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <label>Country</label>
            </div>
            <div class="col-sm-4 col-xs-12 form-top-margin">
                <select class="form-control">
                    <option>Canada</option>
                    <option>USA</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <label>Comments</label>
            </div>
            <div class="col-sm-10 col-xs-12 form-top-margin">
                <textarea class="form-control" rows="2"></textarea>
            </div>
            <div class="col-sm-6 col-sm-push-6 col-xs-12 form-top-margin">
                <button class="btn btn-block btn-default">
                    <span class="col-xs-1 glyphicon glyphicon-ok"></span>
                    <span class="col-xs-9">Confirm Customer Registration</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-push-6 col-xs-12 form-top-margin" data-toggle="tooltip" title="Go To">
            <a href="@Url.Action("Reservation", "PrototypeUI")" class="btn btn-block btn-default btn-mylink pagination-centered">
                <span class="glyphicon glyphicon-map-marker"></span>
                <span>New Reservation</span>
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
