@{
    ViewBag.Title = "Upload & Parse KML";
    ViewBag.PageTitle = "Upload & Parse KML Page";
}

@Html.ActionLink("Home", "Menu", "PrototypeUI")
<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("Digitize IPM Event Map", "DigitizeMap", "PrototypeUI")


<div class="container-fluid">
    <!-- Select File -->
    <div class="row">

        <div class="col-sm-6 col-xs-12 top-margin">
            <button class="btn btn-block btn-default">
                <span class="col-xs-1"></span>
                <span class="col-xs-9">Select KML File</span>
            </button>
        </div>

        <div class="col-sm-6 col-xs-12 top-margin">
            @using (Html.BeginForm("DigitizeMap_parse",
                            "PrototypeUI",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
            {
                <label for="file">Upload KML:</label>
                <input type="file" name="file" id="file" /><br><br>
                <input type="submit" value="Upload file" />
                <br><br>
            }
        </div>


            <div class="col-xs-6 top-margin">
                <input type="text" class="form-control" placeholder="F:\MapRev2.KML (Selected File)" disable />
            </div>


        </div>
    <div class="row">
        <div class="col-sm-6 col-sm-push-6 col-xs-12 top-margin">
            <button class="btn btn-block btn-default">
                <span class="col-xs-1 glyphicon glyphicon-transfer"></span>
                <span class="col-xs-9">Transfer Data From KML File</span>
            </button>
        </div>
    </div>
</div>
