@{
    ViewBag.Title = "IPM Event Map";
    ViewBag.PageTitle = "IPM Event Map";
}

@Html.ActionLink("Home", "Menu", "PrototypeUI")
<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("IPM Event Map", "IPMEventMap", "PrototypeUI")

<style>
    body {
        min-width: 1280px;
    }
</style>

<div class="container-fluid">
    <div class="row text-center">
        <div class="col-xs-10 col-xs-push-1 top-margin">
            <img src="~/Images/IPMEventMap.png" class="img-responsive img-rounded" alt="IPM Evnent Map" style="min-height:500px; width:100%;" />
        </div>
    </div>
</div>
