@{
    ViewBag.Title = "Home";
}



<div class="container-fluid">
    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1">
            <button class="btn btn-block btn-default">
                <span class="col-xs-2 glyphicon glyphicon-map-marker"></span>
                <span class="col-xs-8">IPM Event Map Display</span>
                <span class="col-xs-2 glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>
    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1">
            <button class="btn btn-block btn-default">
                <span class="col-xs-2 glyphicon glyphicon-tag"></span>
                <span class="col-xs-8">Site Reservation</span>
                <span class="col-xs-2 glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>
    <div class="row top-margin">
        <div class="col-xs-10 col-xs-push-1">
            <button class="btn btn-block btn-default">
                <span class="col-xs-2 glyphicon glyphicon-cog"></span>
                <span class="col-xs-8">System Maintenance</span>
                <span class="col-xs-2 glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>

</div>
