@{
    ViewBag.Title = "Staff Log In";
    ViewBag.PageTitle = "Staff Log In";
}

@Html.ActionLink("Home", "Home", "PrototypeUI")
<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("Staff Log In", "Login", "PrototypeUI")

<div class="container-fluid">
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-sm-6 col-sm-push-3 col-xs-12 form-top-margin">
                <div class="col-sm-3 col-xs-12 form-top-margin">
                    <label>Email</label>
                </div>
                <div class="col-sm-9 col-xs-12 form-top-margin">
                    <input type="email" class="form-control" placeholder="hwatson@gmail.com" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-6 col-sm-push-3 col-xs-12 form-top-margin">
                <div class="col-sm-3 col-xs-12 form-top-margin">
                    <label>Password</label>
                </div>
                <div class="col-sm-9 col-xs-12 form-top-margin">
                    <input type="password" class="form-control" placeholder="********" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-push-3 col-xs-12 form-top-margin">
            <div class="col-sm-9 col-sm-push-3 col-xs-12 form-top-margin">
                <button class="btn btn-block btn-default">
                    <a class="col-xs-1 glyphicon glyphicon-ok" href="@Url.Action("Menu", "PrototypeUI")"></a>
                    <a class="col-xs-9" href="@Url.Action("Menu", "PrototypeUI")">Confirm Log In</a>
                </button>
            </div>
        </div>
    </div>
</div>

