/* Limit the width of the page*/
@media only screen and (min-width: 360px) {
    body {
        min-width: 360px;
        max-width: 760px;
        margin: 0 auto !important;
        position: relative !important;

    }
}

/* Top margin to separate rows*/
.top-margin{
    margin-top: 2em;
}
.form-top-margin{
   margin-top: 0.8em;
}
/* */

.btn-mylink{
    color: #337ab7;
}