html {
    /*background-image: url('/Images/background.jpg');*/
    background-image: url('../Images/background.jpg');
    /*background-image: url('http://www.plowingmatch.org/images/template-images/opa/bg3.jpg');*/
    background-color: #453425;
    background-size: auto;
    background-repeat: no-repeat;
}

header {
    color: #f8f8f8;
    background-color: #453425;
}

body {
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
}

tr, td, input:disabled, .glyphicon {
    background-color: rgba(255,255,255,0.5);
}

a, .btn, .btn-mylink, label, b, .glyphicon, th {
    color: #453425;
}

    .btn:focus, .btn:active,
    .btn-info:focus, .btn-info:active,
    .open > .dropdown-toggle.btn-info:hover,
    .open > .dropdown-toggle.btn-info:focus {
        outline: none !important;
    }

        .btn-info,
        .btn-info:hover,
        .btn-info:focus,
        .btn-info:active:hover,
        .btn-info:active:focus,
        .btn-default:hover,
        .btn-default:focus,
        .btn-default:active:hover,
        .btn-default:active:focus {
            border-color: #453425;
        }

.btn-info {
    background-color: #AEA093;
}

    .btn-info:hover,
    .btn-info:active:hover,
    .btn-info:focus,
    .btn-info:active:focus,
    .btn-ipmrvpark:hover,
    .btn-ipmrvpark:focus {
        color: #AEA093;
        background-color: #453425;
    }

.open > .dropdown-toggle.btn-info:hover,
.open > .dropdown-toggle.btn-info:focus {
    color: #AEA093;
    background-color: #453425;
}



/* Limit the width of the page*/
@media only screen and (min-width: 360px) {
    body {
        min-width: 360px;
        max-width: 760px;
        margin: 0 auto !important;
        position: relative !important;
    }
}

/* Top margin to separate rows*/
.top-margin {
    margin-top: 2em;
}

.form-top-margin {
    margin-top: 0.8em;
}
/* */

/*.btn-mylink{
    color: #337ab7;
}*/

.ui-datepicker {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
}

.waitAjax {
    visibility: hidden;
}

.hiddenElement {
    visibility: hidden;
}

.waitMsg {
    display: none;
    position: fixed;
    left: 50%;
    top: 20%;
    z-index: 200;
    width: 9em;
    height: 6em;
    padding: 1em;
    color: #AEA093;
    background-color: #453425;
    border-radius: 5px;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.reservationWarning {
    text-align: center;
    color: white;
    background-color: coral;
    border-radius: 5px;
}

.payment-output {
    text-align: right;
}

.payment-input {
    text-align: right;
}

.editor-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.text-box.single-line.valid, 
.text-box.single-line.invalid, 
.text-box.single-line,
.text-box.single-line.valid:focus,
.input-validation-error, .valid {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.text-box.single-line.valid:focus,
.text-box.single-line:focus,
.input-validation-error, .valid,
.display-field {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
.display-field {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
