@{
    ViewBag.Title = "User Login";
    ViewBag.PageTitle = "User Login";
}

@Html.ActionLink("Home", "Home", "Login")
<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("User Login", "Login", "Login")

<script type="text/javascript">
    $(document).ready(function () {
        // Resolve root path
        var origin = window.location.origin;
        if (origin == 'http://www.alvm.com.br') {
            var root = 'http://www.alvm.com.br/ipmrvpark/';
        }
        else {
            var root = '../';
        }
        $('#unauthorizedUser').hide();
        // User Email
        var postpath = root + 'Login/GetSessionEmail';
        $.ajax({
            url: postpath,
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                var userID = data.ID;
                var userLabel = data.Label;
                $('#idUser').val(userID);
                $('#userEmail').val(userLabel);
                //check user ID
                if (userID == -1) {
                    $('#userEmail').focus();
                    //$('#unauthorizedUser').show();
                }
                else {
                    $('#btnSelectUser').focus();
                    //$('#unauthorizedUser').hide();
                }
            },
            error: function () {
                alert('3 Some error occured.');
            }
        });
        $('#userEmail').click(function () {
            $('#userEmail').val('');
            $('#unauthorizedUser').hide();
        });
        //function will be called on button click
        $('#btnSelectUser').click(function () {
            $('#waitMsg').show();
            var postpath = root + 'Login/SelectUser';
            $.ajax(
            {
                url: postpath,
                type: 'POST',
                dataType: 'json',
                data: { //Passing data
                    userEmail: $('#userEmail').val()
                },
                success: function (data) {
                    var userID = data.ID;
                    var userLabel = data.Label;
                    $('#idUser').val(userID);
                    //check user ID
                    if (userID == -1) {
                        $('#unauthorizedUser').show();
                    }
                    else {
                        $('#unauthorizedUser').hide();
                        var postpath = root + 'Login/Menu';
                        window.location.href = postpath;
                    }
                    $('#waitMsg').hide();
                },
                error: function(xhr, status, error) {
                    var acc = []
                    $.each(xhr, function(index, value) {
                        acc.push(index + ': ' + value);
                    });
                    alert(JSON.stringify(acc));
                }
            });
        });
        //function will be called on dropdownlist selection
        $('#IPMEventYear').change(function () {
            $('#waitMsg').show();
            var postpath = root + 'Login/ChangeYear';
            $.ajax(
            {
                url: postpath, // Controller/View
                type: 'POST', //HTTP POST Method
                dataType: 'json',
                data: { //Passing data
                    idIPMEvent: $('#IPMEventYear').val()
                },
                success: function (result) {
                    location.reload();
                },
                error: function (result) {
                    alert('7 Some error occured.');
                }
            });
        });

    });
</script>

<div class="container-fluid">
    <!-- IPM Event Year -->
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-sm-6 col-sm-push-3 col-xs-12 form-top-margin">
                <div class="col-sm-6 col-xs-12 form-top-margin">
                    <label>IPM Event Year</label>
                </div>
                <div class="col-sm-6 col-xs-12 form-top-margin">
                    @Html.DropDownList("IPMEventYear", null, null, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <!-- Email -->
    <div class="row form-top-margin">
        <div class="form-group">
            <div class="col-sm-6 col-sm-push-3 col-xs-12 form-top-margin">
                <div class="col-sm-3 col-xs-12 form-top-margin">
                    <label>Email</label>
                </div>
                <div class="col-sm-9 col-xs-12 form-top-margin">
                    <input type="text" class="form-control" id="userEmail" placeholder="Type your email" />
                    <input class="text-box single-line" id="idUser" name="idUser" type="hidden" />
                    <div id="unauthorizedUser" style="color: red; font-weight: bold;">
                        non authorized user
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-push-3 col-xs-12 form-top-margin">
            <div id="btnSelectUser" class="btn btn-block btn-default btn-mylink pagination-centered" ><span class="glyphicon glyphicon-log-in"></span>&nbsp; Confirm Login</div>            
        </div>
    </div>
</div>
