@{
    ViewBag.Title = "Site Reservation";
    ViewBag.PageTitle = "New Reservation";
}

@Html.ActionLink("Home", "Menu", "Login")
<span class="glyphicon glyphicon-chevron-right"></span>
Site Reservation
<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("New Reservation", "NewReservation", "Reservation")

<script type="text/javascript">
    $(document).ready(function () {
        // Resolve root path
        var origin = window.location.origin;
        if (origin == 'http://www.alvm.com.br') {
            var root = 'http://www.alvm.com.br/ipmrvpark/';
        }
        else {
            var root = '../';
        }
        // Load partial view - Select Site
        $('#selected-item').load('../Reservation/CRUDSelectedItem', function () {
            // When post is successfully concluded, focus change to customerName
            $('#customerName').focus(function () {
                updateSelectedList(); // Update seleted item list
            });
        });
       // ***** Partial View Selected List
        updateSelectedList(); //execute when page is ready
        function updateSelectedList() {
            $('#selected-list').load('../Reservation/UpdateSelectedList'); // load partial view
            getSelectionTotal(); // Update reservation total
            showSelectionSummary(); // Update selection summary
        }
        // ***** Customer Search
        $('#customerName').click(function () {
            $('#customerName').val('');
            $('#btnSelectCustomer').prop('disabled', true);
        });
        $('#customerName').autocomplete({
            source: function (request, response) {
                // define a function to call the action (assuming UserController)
                var postpath = root + 'Search/SearchCustomerByNameOrPhoneResult';
                $.ajax({
                    url: postpath,
                    type: 'POST',
                    dataType: 'json',
                    // query will be the param used by the action method
                    data: { query: request.term },
                    success: response
                });
            },
            minLength: 1, // require at least one character from the user
            select: function (event, ui) {
                $('#idCustomer').val(ui.item.ID); // name of form input field: CustomerID, ProductID
                $('#btnSelectCustomer').prop('disabled', false);
                $('#btnSelectCustomer').focus();
            }
        });
        var postpath = root + 'Login/GetSessionCustomer';
        $.ajax({
            url: postpath,
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                var customerID = data.ID;
                var customerLabel = data.Label;
                $('#idCustomer').val(customerID);
                $('#customerName').val(customerLabel);
            },
            error: function () {
                alert('3 Some error occured.');
            }
        });
        // ***** Customer Selection
        $('#btnSelectCustomer').prop('disabled', true);
        //function will be called on button click
        $('#btnSelectCustomer').click(function () {
            $('#waitMsg').show();// Show wait message
            $('#btnPayment').focus();
            var postpath = root + 'Login/SelectCustomer';
            $.ajax({                
                url: postpath, // Controller/View
                type: 'POST', //HTTP POST Method
                dataType: 'json',
                data: { //Passing data
                    idCustomer: $('#idCustomer').val()
                },
                success: function (result) {
                    showSelectionSummary();
                    $('#btnSelectCustomer').prop('disabled', true);
                    $('#waitMsg').hide();
                },
                error: function (result) {
                    alert('7 Some error occured.');
                }
            });
        });
        function getSelectionTotal() {
            var postpath = root + 'Reservation/GetSelectionTotal';
            $.ajax({
                url: postpath,
                type: 'POST',
                dataType: 'json',
                success: function (result) {
                    $('#selectionTotal').text(result);
                },
                error: function () {
                    alert('9 Some error occured.');
                }
            });
        };
        function showSelectionSummary() {
            $('#selection-summary').load('../Reservation/ShowSelectionSummary'); // load partial view
        }
    });
</script>

<!-- New Reservation-->
<div class="container-fluid">

    @if (ViewBag.UserID == null)
            {
        <div class="row">
            <div class="col-sm-6 col-sm-push-6 col-xs-12  form-top-margin">
                <div class="form-control reservationWarning">NO USER LOGGED IN</div>
            </div>
        </div>
    }

    <!-- RV Site Selection -->
    <div id="selected-item"></div>
        
    <!-- ********** Dynamic Table -->
    <div class="row top-margin" data-toggle="tooltip" title="List of Selected Sites">
        <div class="col-sm-4 col-xs-12" data-toggle="tooltip" title="Click To Expand/Collapse">
            <button class="btn btn-block btn-default" data-toggle="collapse" data-target="#selected-list">
                <span class="col-xs-1 glyphicon glyphicon-list"></span>
                <span class="col-xs-9">Selected Sites &nbsp;<span class="caret"></span></span>
            </button>
        </div>
        <div class="col-sm-4 col-xs-12 form-top-margin">
            <label>Selected Sites Total</label>
        </div>
        <div class="col-sm-4 col-xs-12 form-top-margin">
            <div id="selectionTotal" type="text" class="form-control" style="text-align:right" disabled></div>
        </div>
    </div>

    <div id="selected-list" class="collapse">
    </div>
    <!-- ********** -->
    <!-- Customer Selection -->
    <div class="row top-margin">
        <div class="form-group">
            <div class="col-sm-2 col-xs-12 form-top-margin">
                <label>Customer</label>
            </div>
            <div class="col-sm-6 col-xs-10 form-top-margin" data-toggle="tooltip" title="Search and selecte with autocomplete">
                <input type="text" class="form-control" id="customerName" placeholder="Type name or phone and then select from the list" />
                <input class="text-box single-line" id="idCustomer" name="idCustomer" type="hidden" />
            </div>
            <div class="col-sm-4 col-xs-12 form-top-margin" data-toggle="tooltip" title="Go To">
                <button id="btnSelectCustomer" class="btn btn-block btn-default">
                    <span class="col-xs-1 glyphicon glyphicon-ok"></span>
                    <span class="col-xs-9">Select Customer</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row top-margin">
        <div class="col-sm-4 col-sm-push-8 col-xs-12 form-top-margin" data-toggle="tooltip" title="Go To">
            <a href="@Url.Action("CreateCustomer", "Customer")" class="btn btn-block btn-default btn-mylink pagination-centered">
                <span class="glyphicon glyphicon-user"></span>
                <span>New Customer</span>
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <div id="selection-summary">
    </div>
    <!-- Proceed To Payment -->
    <div class="row form-top-margin">
        <div class="col-sm-4 col-sm-push-8 col-xs-12 form-top-margin" data-toggle="tooltip" title="Go To">
            <a id="btnPayment" href="@Url.Action("PaymentOrRefund", "Payment")" class="btn btn-block btn-default btn-mylink pagination-centered">
                <span class="glyphicon glyphicon-usd"></span>
                <span>Payment</span>
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
