@{
    ViewBag.Title = "IPM RV Park Reservation System";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <p></p>
                <h2>Use the menu links to continue...</h2>
                <h2>and click on Home to return.</h2>
            </hgroup>
        </div>
    </section>
}
